* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
p,
figcaption,
button {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.762);
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: "Signika";
}
li {
  list-style: none;
}

nav {
  padding: 1rem;
  background-color: rgb(64, 89, 107);
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav a {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(255, 208, 90);
}
header {
  background-color: rgb(85, 192, 236);
}
.header__left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__left h1 {
  font-size: 5rem;
  padding-block: 2rem;
}
.header__left p {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
  max-width: 250px;
  max-height: 70px;
  font-size: 1.7rem;
  border-radius: 5px;
  transition: transform ease-in-out 700ms;
  cursor: pointer;
}
.btn img {
  transition: ease-in-out 700ms;
  width: 40px;
}
.btn:hover {
  transform: scale(0.95);
}
.btn:hover img {
  transform: rotate(15deg) scale(1.5);
}

header > img {
  margin: 5rem auto 0;
  padding-bottom: 1rem;
  width: 50%;
}
.card-about h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.card-about p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-inline: 3rem;
  padding-block: 1.8rem;
}
.card-features {
  background-color: #90ddaa;
  padding-bottom: 2rem;
  padding-inline: 2rem;
}
.card-features h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-block: 3rem 2rem;
}
.card-features figure {
  --bkg: rgb(248, 248, 248);
  margin-bottom: 2rem;
  background: linear-gradient(to bottom, #40596b 80%, var(--bkg) 20%);
}
.card-features img {
  margin: auto;
  padding: 4rem 3rem;
  max-width: 300px;
}
.card-features figcaption {
  background-color: var(--bkg);
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.card-features a,
footer a {
  text-decoration: underline;
}
.red {
  color: #dc143c;
}
.card-add {
  padding-inline: 3rem;
}
.card-add h2 {
  font-size: 2.5rem;
  padding-block: 4rem;
  text-align: center;
}
.card-add p {
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
}
.btn--black {
  background: #40596b;
  color: white;
  margin: 5rem auto;
  max-width: 300px;
  font-size: 1.6rem;
}
.btn--black:hover {
  background: rgba(0, 0, 0, 0.658);
}
footer {
  padding-block: 1rem;
  margin-top: 5rem;
  background-color: #40596b;
  text-align: center;
}
footer p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.958);
  padding-block: 0.5rem;
}
.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 1000ms;
  width: 50px;
  opacity: 0;
  background-color: rgb(255, 208, 90);
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.top:hover {
  cursor: pointer;
}
.visible {
  opacity: 1;
}
@media screen and (width>650px) {
  nav {
    display: flex;
    justify-content: center;
  }
  ul {
    display: flex;
    gap: 1rem;
    max-width: 400px;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    min-height: 80dvh;
  }
  .header__left p {
    padding-inline: 4rem;
  }
  header > img {
    margin: 0;
    padding: 2rem;
    width: 400px;
  }
  .card-about {
    padding-bottom: 2rem;
  }
  .card-about h2 {
    font-size: 3rem;
  }
  .card-about p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .card-about div {
    display: flex;
  }
  .card-features {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-features h2 {
    grid-column: 1/3;
    padding-block: 4rem 2rem;
  }
  .card-features img {
    padding: 5rem 2rem;
  }
  .card-features figure:last-of-type {
    grid-column: 1/3;
  }
  .card-features figcaption {
    font-size: 1.5rem;
  }
  .card-add {
    padding-inline: 10rem;
  }
  .card-add h2 {
    padding-inline: 1rem;
  }
}
@media screen and (width>900px) {
  header > img {
    margin-top: 0;
    width: 450px;
  }
  .header__left p {
    padding-inline: 2rem;
  }
  .card-features {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-features h2 {
    grid-column: 1/4;
  }
  .card-features figure:last-child {
    grid-column: 3/4;
  }
}
